{% extends 'blog/base.html' %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'post_list' %}">Baris Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'post_list' %}">Anasayfa
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Hakkında</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">{{ post.title }}</h1>
            {% for teg in tegs %}
            <p>
                {{ teg.name }}
            </p>
            {% endfor %}
          <p class="lead">{{ post.text }}</p>
          <ul class="list-unstyled">
            <li>{{ post.author }}</li>
            <li>{{ post.published_date }}</li>
          </ul>
        </div>
      </div>
    </div>
        {% include "blog/include/comment_box.html" %}
        {% include "blog/include/comment_post_detaile.html" %}
    <div>
    <footer>
        <ul class="list-inline list-social-icons mb-0 text-center">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/profile.php?id=100006635071494">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/brsklc">
                    <span class="fa-stack fa-lg">
                      <p class="fa fa-circle fa-stack-2x"></p>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
    </footer>
</div>
    <!-- Bootstrap core JavaScript -->
{% endblock %}